<div class="sidebar">
    <div class="profile">
      <span>John Doreamon</span>
    </div>
    <nav class="menu">
      <ul>
        <li>
          <a href="#">Go To Super Admin</a>
        </li>
        <li>
          <a href="#">My School</a>
        </li>
        <li>
          <span>School Management</span>
          <ul>
            <li>Academics</li>
            <ul>
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Class</a></li>
              <li><a href="#">Sections</a></li>
              <li><a href="#">Subjects</a></li>
              <li><a href="#">Time Table</a></li>
              <li><a href="#">Attendance</a></li>
              <li><a href="#" class="active">Student Leave</a></li>
              <li><a href="#">Study Materials</a></li>
              <li><a href="#">Homework</a></li>
              <li><a href="#">Notice Board</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Live Classes</a></li>
            </ul>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  