.loginMainParent{
    .login-page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: url('../../assests/images/offers.svg') center/cover no-repeat;
      }
      
      .login-container {
        display: flex;
        background: white;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      }
      
      .login-image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        width: 400px;
        background: url('../../assests/images/catalog.svg') center/cover no-repeat;
      }
      
      .login-form {
        padding: 2rem;
        width: 250px;
      }
      
      .form-header {
        display: flex;
        margin-bottom: 1rem;
      }
      
      .btn-login, .btn-register {
        color: #333;
      }
      
      .btn-login.active {
        color: #0e0e0e;
        background-color: #ffca28;
      }
      
      h2 {
        font-weight: 700;
        margin-bottom: 0.5rem;
      }
      
      .form-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .forgot-password {
        color: #8a8884;
        text-decoration: none;
        font-size: 14px;
      }
      
      .register-btn {
        text-align: center;
        margin-top: 1rem;
        font-size: 0.9rem;
        color: #888;
        background-color: lightgray;
      }
      .terms{
        text-align: center;
        margin-top: 1rem;
        font-size: 0.9rem;
        color: #888;
      }
      
}