$primaryColor: #fbd051;
$secondaryColor: #f5b644;
$secondary3Color: #9be6f0;
$secondary4Color: #fdf4ce;
$secondary5Color: #ecf9ef;
$secondary6Color: #fce8e8;
$secondary7Color: #ef5439;
$secondary8Color: #FFFBEA;
$neutralColor: #afafaf;
$neutral1Color: #1c1c1c;
$neutral2Color: #f7f7f7;
$neutral3Color: #ebebeb;
$neutral4Color: #afafaf;
$neutral5Color: #5a5a5a;
$neutral7Color: #e5e5e5;
$neutral6Color: #0e0e0e;
$neutral8Color: #fd9330;
$backgroundColor: #fdfdfd;
$background2Color: #e5e5e5;
$semantic1Color: #eb5757;
$semantic2Color: #6ccf87;
$shadowColor: #b8b8b8;
$whiteColor: #ffffff;
$lightSemanticColor: #ecf9ef;
$lightSecondaryColor: #fcecab;
$greenColor: #008000;
$lightGreenColor: #3e8e41;
$shadow2Color: #c5c5c5;
$boxshadowColor: #bfdbfe;
$background3Color: #f2f2f2;
$darkGray: #6c757d;
$orangeColor: #f99750;
$lightGrey: #F0F0F0;
$paleWhite: #FEF6DC;
$hoverTabs: #FBDA56;
$yellowScore: #fcaa30;
$orangeScore: #f6cf59;
$pureBlack: #000000;
$neutralGrey: #8E8E8E;
$darkBlue: #0052CC;
$neutralBlue: #5243AA;
$greyColor: #DFE1E5;
$paleWhite: #dee2e6;
$lightBlue: #16A5F3;
$lightPink: #F9AEC5;
$blackColor: #292D32;
$palePink: #FEF6DC;
$darkOrange: #FF991F;